# /etc/systemd/system/spark.service
# systemctl daemon-reload

[Unit]
Description=Spark Slave 1
After=default.target

[Service]
User=root
Type=forking
ExecStart=/opt/spark/sbin/start-slave.sh -h slave1-priv spark://master-priv:7077
ExecStop=/opt/spark/sbin/stop-slave.sh
TimeoutSec=30

[Install]
WantedBy=default.target

